In [3]:
import numpy as np
import pandas as pd
np.random.seed(42)
city_A=np.random.exponential(scale=30,size=30)
city_B=np.random.normal(loc=25,scale=5,size=30)
city_C=np.random.exponential(scale=20,size=30)
city_A=np.round(city_A,1)
city_B=np.round(city_B,1)
city_C=np.round(city_C,1)
df_kruskal=pd.DataFrame({'Delivery Time (min)':np.concatenate([city_A,city_B,city_C]),
                        'City':(['City A']*30)+(['City B']*30)+(['City C']*30)})
df_kruskal.head()

   Delivery Time (min)    City
0                 14.1  City A
1                 90.3  City A
2                 39.5  City A
3                 27.4  City A
4                  5.1  City A

In [5]:
from scipy.stats import kruskal
kruskal(city_A,city_B,city_C)

KruskalResult(statistic=10.133487820739717, pvalue=0.006302909603534701)

In [7]:
# p_value is 0.0063 that means if the null hypothesis was true, then there is less than 5% chance that I would see a difference in median as 
# extreme as this just by random chance, so I reject the null hypothesis and conclude atleast one group is significantly 
# different from others.

In [11]:
df_kruskal.groupby('City')['Delivery Time (min)'].median()

City
City A    15.55
City B    23.95
City C    13.20
Name: Delivery Time (min), dtype: float64

In [9]:
import scikit_posthocs as sp
sp.posthoc_dunn(df_kruskal,val_col='Delivery Time (min)',group_col='City',p_adjust='bonferroni')

          City A    City B    City C
City A  1.000000  0.133659  0.770196
City B  0.133659  1.000000  0.005017
City C  0.770196  0.005017  1.000000

so now from the posthoc test we see City B vs City C p value is 0.005 so this is statistically significant
and City C performed better than City B. From median we see that City C also performed better than City A and City A performed
better than City B but that is statistically insignificant. So overall we can say City C is the only city with statistically 
proven better performance.