In [5]:
import numpy as np
import pandas as pd
morning = np.random.normal(loc=52, scale=3, size=30)
afternoon = np.random.normal(loc=50, scale=2, size=30)
night = np.random.normal(loc=47, scale=4, size=30)
df=pd.DataFrame({'Employee ID':range(1,31),'Morning Tasks':morning,'Afternoon Tasks':afternoon,'Night Tasks':night})
df['Morning Tasks']=df['Morning Tasks'].apply(lambda x:round(x,0))
df['Afternoon Tasks']=df['Afternoon Tasks'].apply(lambda x:round(x,0))
df['Night Tasks']=df['Night Tasks'].apply(lambda x:round(x,0))
df

    Employee ID  Morning Tasks  Afternoon Tasks  Night Tasks
0             1           48.0             52.0         50.0
1             2           59.0             51.0         36.0
2             3           52.0             47.0         53.0
3             4           54.0             49.0         49.0
4             5           53.0             50.0         46.0
5             6           51.0             52.0         44.0
6             7           55.0             51.0         42.0
7             8           55.0             47.0         51.0
8             9           50.0             49.0         43.0
9            10           56.0             49.0         44.0
10           11           53.0             47.0         47.0
11           12           46.0             50.0         48.0
12           13           49.0             54.0         55.0
13           14           54.0             50.0         50.0
14           15           53.0             49.0         47.0
15           16           56.0             50.0         52.0
16           17           52.0             46.0         42.0
17           18           55.0             49.0         44.0
18           19           48.0             53.0         45.0
19           20           50.0             48.0         52.0
20           21           51.0             50.0         43.0
21           22           56.0             50.0         52.0
22           23           58.0             51.0         47.0
23           24           54.0             49.0         52.0
24           25           52.0             50.0         49.0
25           26           54.0             50.0         44.0
26           27           54.0             49.0         47.0
27           28           46.0             51.0         47.0
28           29           49.0             49.0         45.0
29           30           52.0             48.0         46.0

In [7]:
from scipy.stats import f_oneway
f_stat,p_value=f_oneway(df['Morning Tasks'],df['Afternoon Tasks'],df['Night Tasks'])
p_value

2.4066479098136628e-08

so at least one of the categories is significantly different from others.

In [10]:
df_without_ID=df.drop(columns='Employee ID')

In [12]:
df_melted=df_without_ID.melt(var_name='Shift',value_name='No. of Tasks')

In [15]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
tukey=pairwise_tukeyhsd(endog=df_melted['No. of Tasks'],groups=df_melted['Shift'],alpha=0.05)
print(tukey)

        Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================================
     group1         group2    meandiff p-adj   lower   upper  reject
--------------------------------------------------------------------
Afternoon Tasks Morning Tasks   2.8333 0.0027  0.8619  4.8048   True
Afternoon Tasks   Night Tasks     -2.6 0.0064 -4.5714 -0.6286   True
  Morning Tasks   Night Tasks  -5.4333    0.0 -7.4048 -3.4619   True
--------------------------------------------------------------------

In [17]:
# so from the tukey hsd I conclude the productivity is max in the morning and it's statistically 
# significant not due to randomness.